* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  color: white;
}

div.page-view {
  padding: 50px;
  height: 20rem;
  background-color: black;
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  padding-bottom: 30px;
  font-size: 30px;
}

#container {
  width: 100%;
}

button {
  width: 24%;
    height: 4rem;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 19px;
    background-color: aqua;
    margin-bottom: 20px;
}

p {
  padding-top: 10px;
}

.result-head {
  color: crimson;
  font-size: x-large;
}

.score {
  color: blueviolet;
  font-style: italic;
  font-size: large;
}

@media only screen and (max-width: 600px) {
  div.page-view {
    height: 35rem;
    padding: 10px;
    padding-top: 5rem;
  }
  
  button {
    width: 32%;
    height: 8rem;
    margin-bottom: 5rem;
  }

}